<div class="container about">
  <h1 class="heading1">About</h1>
  <p>
    To provide a platform for new and experienced cryptocurrency traders. The
    site will display the current prices of cryptocurrencies and their price
    graphs. The daily volumes traded will also be shown per coin. The site will
    also have recent news of dips and climbs aggregated from other sources to
    help buyers make educated decisions. Other trading sources will be linked to
    help teach proper trading techniques and make users better traders.
  </p>
  <div class="trademark">
    <img src="../../assets/cryptocrowd.png" />
    <h4>a <i>CryotoCrowd</i> company</h4>
  </div>
</div>
