<div class="container contact">
  <h1 class="heading1">Contact</h1>
  <div class="row contact-methods">
    <div class="col-4">
      <div class="method">
        <img src="../assets/telephone.svg" alt="Telephone" />
        <div class="method-information">
          <h4>By Phone</h4>
          <p>(Monday to Friday, 9am to 6pm PST)</p>
          <h4>North America Toll-Free:</h4>
          <p>1-888-888-8888</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="method">
        <img src="../assets/email.svg" alt="Email" />
        <div class="method-information">
          <h4>By Email</h4>
          <p>(Monday to Friday, 9am to 6pm PST)</p>
          <h4>Email Address</h4>
          <p>something@somethingelse.com</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="method">
        <img src="../assets/livechat.svg" alt="Live Chat" />
        <div class="method-information">
          <h4>Live Chat</h4>
          <p>Chat with a member of our in-house team.</p>
          <h4><a href="">Click here to chat</a></h4>
        </div>
      </div>
    </div>
  </div>
</div>
