<div class="container resources">
  <header>
    <div></div>
    <h1 class="heading1">Resources</h1>

    <div class="row">
      <div class="col-6">
        <h1 class="heading2">Tools</h1>
        <ul>
          <li>
            <a href="https://coincheckup.com/"
              >CoinCheckUp (Tracking and analysis)
            </a>
          </li>
          <li><a href="https://coindesk.com/">CoinDesk (Crypto News) </a></li>
          <li>
            <a herf="https://www.coingecko.com/">Coingecko (Price graphs) </a>
          </li>
          <li>
            <a href="https://www.coinmarketcap.com/"
              >CoinMarketCap (Cryptocurrency market cap info)
            </a>
          </li>
          <li>
            <a href="https://crypto.jobs/">Crypto.jobs (Jobs in crypto) </a>
          </li>
          <li>
            <a href="https://github.com/hyperledger"
              >Hyperledger (Linux Foundation)
            </a>
          </li>
          <li>
            <a href="https://azure.microsoft.com/en-gb/solutions/blockchain/"
              >Microsoft Azure Blockchain
            </a>
          </li>
        </ul>
      </div>
      <div class="col-6">
        <h1 class="heading2">Education</h1>
        <ul>
          <li>
            <a href="https://github.com/rddill-IBM/ZeroToBlockchain"
              >IBM's ZeroToBlockchain (Free learning resources)</a
            >
          </li>
          <li>
            <a
              href="https://www.khanacademy.org/economics-finance-domain/core-finance/money-and-banking/bitcoin/v/bitcoin-what-is-it"
              >Khan Academy on Bitcoin (Free Course)</a
            >
          </li>
          <li>
            <a href="https://github.com/bitcoinbook/bitcoinbook"
              >Mastering Bitcoin (Open Source book)</a
            >
          </li>
          <li>
            <a href="https://github.com/ethereumbook/ethereumbook"
              >Mastering Ethereum (Open Source book)</a
            >
          </li>
        </ul>
      </div>
    </div>
  </header>
</div>
