<div class="container stats">
  <h1 class="heading1">Statistics</h1>
  <div class="container">
    <div class="col-2">
      <h1>Favorites</h1>
      <div class="currencies">
        <div class="currency">
          <img src="../../assets/bitcoin-btc-logo.png" />
          Bitcoin
        </div>
        <div class="currency">
          <img src="../../assets/litecoin-ltc-logo.png" />
          Litecoin
        </div>
        <div class="currency">
          <img src="../../assets/ethereum-eth-logo.png" />
          Ethereum
        </div>
        <div class="currency">
          <img src="../../assets/tether-usdt-logo.png" />
          Tether
        </div>
        <button class="add-favorite">Add</button>
      </div>
    </div>
    <div class="col-10">
      <div class="content">
        <div class="jumbo">
          <img src="../../assets/bitcoin-btc-logo.png" />
          Bitcoin
        </div>
        <div class="price">
          <div class="current-price">$13,192.93</div>
          <div class="denomination">USD</div>
          <div class="price-change">(-3.64%)</div>
        </div>
        <div class="table">
          <table>
            <thead>
              <tr>
                <th>Market Cap</th>
                <th>Volume (24hr)</th>
                <th>Circulating Supply</th>
                <th>Max Supply</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>$244,448,594,559 USD</td>
                <td>$35,868,617,039 USD</td>
                <td>18,528,756 BTC</td>
                <td>21,000,000 BTC</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
