.about {
  background-color: black;
  color: white;
}

p {
  padding: 5em 10em;
}

.trademark {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.trademark img {
  border-radius: 10px;
}
