.contact {
  background-image: linear-gradient(#0f0f0f, black);
  color: white;
}

.method img {
  height: 200px;
  width: 100%;
}

.method img:hover {
  fill: white;
}

.method-information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.method-information h4 {
  justify-content: center;
  align-items: center;
}

.method-information a {
  text-decoration: none;
  color: #142069;
}

.method a:hover {
  color: #2b3780;
}
