.home {
  background-color: #0f0f0f;
  color: white;
}

.post img {
  height: 300px;
  width: 100%;
}

.banner {
  width: 100%;
  background-image: url("/assets/candles.png");
  height: 300px;
  background-position: center;
  background-size: cover;
}

.card {
  width: auto;
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 5px;
}
.card-content {
  height: 150px;
  width: inherit;
}

.card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
  background: rgb(141, 83, 83);
  color: white;
  text-align: center;
  border-radius: 5px 5px 0px 0px;
}

.card-header img {
  height: 30px;
  width: 30px;
}

.favorites {
  background-color: #a2a2a2;
}
